body,
#root {
  margin: 0;
  padding: 0;
}


#field {
  background-color: #eef;
  position: relative;
}

.improve {
  font-size: 80%;
}

.improve::after {
  font-size: 80%;
  content: "〉";
}

.improve::before {
  font-size: 80%;
  content: "〈+";
}